__pycache__/
*.py[cod]
*.so

.venv/
.pyvenv/
bin/
lib/
lib64/
include/
pyvenv.cfg

.ipynb_checkpoints/

.vscode/
.idea/
*.swp

htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

*.spec

.DS_Store
Thumbs.db

